@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700); /* aaron added */

body,h1,h2,h3,h4 {
  font-family: "Helvetica", sans-serif;
}

#loadbar {
  display: block;
  margin: auto;
}

#loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: black; /* rgba(0, 0, 0, 0.9); */
  opacity: 1;
  text-align: center;
  display: block;
  z-index: 100;
}
#loading .jumbotron {
  background: transparent;
}
.container {margin-top: 10px;}
.container-fluid {z-index: 4;}


#resize-warning-nav { display:none; }
#resize-warning-text { margin: 10px 10px; }
#resize-warning-text td { padding: 0px 10px; }
#resize-warning-exit { cursor: pointer; cursor: hand; }


.pong-title {
  letter-spacing: 4px;
  font-family: "Lato", "Helvetica", sans-serif;
}

svg {
  /*border: 2px solid black;*/
  padding: 20px 10px 0px;
  /*text-align: center;*/
  margin: 5px 10px 0px;
  /*z-index: 1;*/
  display: block;
}

#dlLink {
  font-size: 24;
}
.label { 
  font-size: 20px;
}
.majorMinorLabel  {
  font-size: 16px; 
  letter-spacing: -0.5px;
  z-index: 999;
}

/* SR added to push pop labels closer to barplots */
.labelSVG {
  padding-top: 0px;
}
.majorPopLabels { 
  padding-top: 0px;
  margin-top: 0px;
}
.minorPopLabels {
  padding-top: 0px;
  margin-top: 0px;
}
text.popLabels {
  cursor: pointer;
}
.popLabels {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  margin-top: 10px;
  z-index: 4;
}
.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

#downloadAll {
  text-decoration: none;
  color:black;
}

.modalDropdown {
  display:inline-block;
}

.printModal {
  margin: 5px;
}

#downloadAllDiv {
  display: inline-block;
}
.avg_sim {z-index: 3;}

.btn.btn-info.btn-lg {
  margin: 20px;
  z-index: 5;
  display: block;
  border-color: #5bc0de;
}
.btn.btn-info.btn-lg:hover {
  border-color: #31b0d5;
}
.glyphicon.glyphicon-plus {
  z-index: 5;
  /*float: right;*/
}
.glyphicon.glyphicon-print {
    content: "\e016";
    color: #5bc0de;
    font-size: 16px;
    cursor: pointer;
}
.glyphicon {
  color: #5bc0de;
}
.glyphicon:hover {
  color: #31b0d5;
}
.glyphicon.glyphicon-download-alt {
    font-size: 16px;
    cursor: pointer;
}
.d3-tip {
  position: relative;
  /*text-align: center;*/
  width: 110px;
  padding: 4px;
  font-size: 10px; /*font: 10px sans-serif;*/
  background: black;
  border-radius: 8px;
  pointer-events: none;
  z-index: 1051;
}
.d3-tip ul {
  list-style:none;
  padding-left:30%;
  color: lightgray;
}
.text-tip {
  color: lightgray;
}
.d3-tip.s:after {
  box-sizing: border-box;
  color: black;
  display: block;
  font-size: 12px;
  width: 90%;
  line-height: 0.2;
  /* content: "\25BC"; */
  position: absolute;
  text-align: center; 
  bottom: 100%; 
  content: "\25B2";
  margin: 0 0 1px 0;
  /*top: 0px; */
}
.btn-danger + .tooltip > .tooltip-inner {
  padding: 7px;
  font-size: 14px;
  text-align: left;
}

.modal-dialog {
  position: absolute;
  left: 20px;
}
.modal-body {
  margin-bottom: 30px;
  padding: 15px;
}
.checkbox-inline {
  float: right;
  color: rgb(70, 184, 218);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.check-input {
  /*width: 30px;*/
/*  height: 30px;*/
  font-size:200%;
  color: rgb(70, 184, 218);
  border-color: rgb(70, 184, 218);
/*  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);*/
  display: inline-block;
  margin-right: 5px; 
  border: 1px solid #0070BB; 
}
.checkbox-caption {
  float: right;
  margin-right: 27px;
  position: relative;
  top: 5px;
  color: rgb(70, 184, 218);
}
.swatch {
  float: left;
  margin-left: 13px;
  /*margin-right: 10px;*/
  width: 12px; 
  height: 12px; 
  z-index: 99;
}
.axis path,
.axis line {
  fill: none;
  /*stroke: white;*/
  stroke-width: 1.5;
  /*shape-rendering: crispEdges;*/
}
.axis text {
  display: none;
}
path.area {
  shape-rendering: crispEdges;
  cursor: move;
}
.page-header {
  text-align: center;
}
#help {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}
#help:hover {
  color:#31b0d5;
  text-decoration: none;
  cursor: pointer;
}
.popover-title {
  background-color: white;
  border-bottom-width: 0px;
  padding-top: 12px;
  padding-bottom: 0px;
}
.popover.bottom>.arrow {
  border-bottom-color: black;
}
.popover.top>.arrow {
  border-top-color: black;
}
.popover.left>.arrow {
  border-left-color: black;
}
.popover.right>.arrow {
  border-right-color: black;
}
.popover {
  border-top-color: black;
  border-bottom-color: black;
  border-right-color: black;
  border-left-color: black;
}
h3.popover-title {
  font-weight: 700;
  color: #5bc0de;
}
